<div class="menu-extras topbar-custom">
    <ul class="list-inline float-right mb-0">
        <!-- User-->
        <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="false" aria-expanded="false">
                <img src="${(jwttoken_basedata.user.avatar)!'/assets/images/users/avatar-1.jpg'}" alt="user" class="rounded-circle">
                <span class="ml-1">${(jwttoken_basedata.user.username)!'未登录'}<i class="fa fa-angle-down ml-2"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <a class="dropdown-item" href="/framework/user/personaldata"><i class="fa fa-user-o text-muted"></i> 个人信息</a>
                <a class="dropdown-item" href="/framework/user/account/changePassword"><i class="fa fa-key text-muted"></i> 修改密码</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fa fa-retweet text-muted"></i> 切换账号</a>
            </div>
        </li>
		<li class="menu-item list-inline-item">
	          <!-- Mobile menu toggle-->
	          <a class="navbar-toggle nav-link">
	              <div class="lines">
	                  <span></span>
	                  <span></span>
	                  <span></span>
	              </div>
	          </a>
	          <!-- End mobile menu toggle-->
	      </li>
    </ul>
</div>