<!-- MENU Start -->
<div class="navbar-custom">
	<div class="container-fluid">
		<div id="navigation">
			<!-- Navigation Menu-->
			<ul class="navigation-menu">

				<!-- 
				====> 这里开始菜单的循环展示
				====> 需要一个bgManageMenus参数
				 -->
				<#if bgManageMenus??>
					<#list bgManageMenus as bgmMenu>
				<li class="has-submenu">
					<a href="<#if bgmMenu.childs?? && bgmMenu.childs?size gt 0>#<#else>${(bgmMenu.url)!}</#if>">
						<i class="${(bgmMenu.icon)!}"></i>${(bgmMenu.name)!}</a>	
					<#if bgmMenu.hasChild?? && bgmMenu.childs?? && bgmMenu.childs?size gt 0>
						<ul class="submenu megamenu">
			                <li>
			                    <ul>
			                    	<#list bgmMenu.childs as cMenu>
			                    		<li><a href="${(cMenu.url)!}">${(cMenu.name)!}</a></li>
			                    	</#list>
			                    </ul>
			                </li>	
			            </ul>
		            </#if>
	            </li>	
					</#list>
				</#if>

			</ul>
			<!-- End navigation menu -->
		</div>
		<!-- end #navigation -->
	</div>
	<!-- end container -->
</div>
<!-- end navbar-custom -->