<!-- cropper template/js/ -->
<link href="/assets/js/plugins/cropperPicture/cropper.min.css?v=${(db_constants.Style_and_Script_version)!'1.0'}" rel="stylesheet" type="text/css" />
<link href="/assets/js/plugins/cropperPicture/cropperPicture.css?v=${(db_constants.Style_and_Script_version)!'1.0'}" rel="stylesheet" type="text/css" />

<script src="/assets/js/plugins/cropperPicture/cropper.min.js?v=${(db_constants.Style_and_Script_version)!'1.0'}"></script>
<script src="/assets/js/plugins/cropperPicture/cropperPicture.js?v=${(db_constants.Style_and_Script_version)!'1.0'}"></script>

